{% set compute_nodes = pillar.get('compute_nodes', {}) -%}
{% set cluster = pillar.get('cluster', {}) -%}
{% set iteration = (((compute_nodes|length + 253) - 1)/253)|int %}
{% set serial = pillar.get('serial', {}) -%}
{% set subnet = 'ipmi' -%}


$TTL 300
@                       IN      SOA     172.16.1.1. admin.cluster. (
                                        {{ serial }}  ; Serial
                                        600         ; Refresh
                                        1800         ; Retry
                                        604800       ; Expire
                                        300          ; TTL
                                        )

                        IN      NS      {{ cluster['name-server'] }}.


{% set count = 0 %}
{% set start = 2 %}
{% set ip = cluster['subnets'][subnet]['range_start'] %}
{% set max = cluster['subnets'][subnet]['total_ipv4']   %}
{%- for node in compute_nodes -%} 
{%- if count != max -%}
{%- if start < 255 -%}
{{ ip }}.{{ start }} IN  PTR  {{ node }}.{{ cluster['subnets'][subnet]['name'] }}.;
{% set count=count+1 %}
{% set start=start+1 %}
{%- else -%} 
{% set ip=ip+1 %}
{% set start=1 %} 
{%- endif -%}
{%- endif -%}
{%- endfor -%}
